*.tsv
punkt/
*.pt
NLP-HW2-Old.ipynb
HW2-Emanuel-Tesfa-Py/
junk/
*pdf
hmm.json
train_vocab.txt
submission/
*.txt
submission.zip
.DS_Store
data/lstm-data/
NER-Tagging/src/__pycache__/*
NER-Tagging/best_checkpoints/*
NER-Tagging/ckpts/
